.landingScreenImage {
    background-image: url("https://i.redd.it/ib4j1jt98wt71.jpg");
    height: 90vh;
    position: relative;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    overflow: hidden;
}

.copyright {
    margin-left: 40px;
}

.bannerContainer {
    transform: rotate(-7deg);
    position: absolute;
    bottom: 20px;
    right: 12px;
}

.bannerTop {
    background: navy;
}

.bannerBottom {
    background: blue;
    width: max-content;
    margin-left: auto !important;
}

.bannerText {
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 2.125rem;
    font-weight: 800;
    line-height: 1.235;
}

.listItem {
    display: flex;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 16px;
}

.card {
    background-color: #3480eb;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 8px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 14px;
}

/*
@media only screen and (max-width: 600px) {
    .card {
        margin-right: 32px;
        margin-left: 32px;
    }
}
*/